*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; 
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(58, 36, 33, 0.7)),url(img/header.jpg); 
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 90px;
    
}
.nav-links{
    flex:1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}  

li.current {
    background: #060652;
}

.nav-links a.active{
    background: #f44336;
    padding: 5%;
}




.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box h1 p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #ffffff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    margin-top: 25px;

}
.hero-btn:hover{
    background: #f44336;
    transition: 0.5s;
    border: 1px solid #f44336;
    
}


nav .fa{
    display: none;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #ffffff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;

    }
    .nav-links ul{
        padding: 30px;
    }
}

/*----- skills -----*/

.skills{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 80px;
    background: #ffffff;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p.skilltext{
    color: #5c5b5b;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    padding: 10px;

}
h3{
    color: #f44336;
    padding: 1%;
}
.abouttext{
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    justify-content: space-between;
    
    
}
.skilltree{
    width: 50%;
    text-align: left;
    padding: 5%;
}
.skill-btn{
    display: inline-block;
    text-decoration: none;
    color: #5c5b5b;
    background: #dad8d8;
    padding: 12px 34px;
    font-size: 13px;
    font-weight: 600;
    position: relative;
    margin-top: 10px;
}
.skill-btn:hover{
    background: #f44336;
    color: #ffffff;
    transition: 0.5s;
    
    
}
h1.information{
    font-size: 45px;
    font-weight: 600;
}

/*----- project -----*/

.project{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 200px;
    background:linear-gradient(rgb(255, 255, 255),rgba(68, 68, 68, 0.7));
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
}
.container .projectcard{
    position: relative;
    width:  280px;
    height: 400px;
    margin: 50px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background-image: url("img/ag.JPG");
    background-size: 100% 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px) ;
}
.container .projectcard .content{
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}
.container .projectcard:hover .content{
    transform: translateY(0px);
    opacity: 1;
    background-color: #24262b;
}
.container .projectcard .content h2{
    position: absolute;
    top: -60px;
    right: 30px;
    font-size: 8em;
    color: rgba(255, 1, 1, 0.116);
    pointer-events: none;
}
.container .projectcard .content h3{
    font-size: 1.8em;
    color: #ffffff;
    z-index: 1;
}
.container .projectcard .content p{
    font-size: 1em;
    color: #ffffff;
    font-weight: 300;
}
.container .projectcard .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #f44336;
    color: #ffffff;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/*----- projectcard 2 -----*/


.container .projectcard2{
    position: relative;
    width:  280px;
    height: 400px;
    margin: 50px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background-image: url("img/mypage.png");
    background-size: 100% 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px) ;
}
.container .projectcard2 .content{
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}
.container .projectcard2:hover .content{
    transform: translateY(0px);
    opacity: 1;
    background-color: #24262b;
}
.container .projectcard2 .content h2{
    position: absolute;
    top: -60px;
    right: 30px;
    font-size: 8em;
    color: rgba(255, 1, 1, 0.116);
    pointer-events: none;
}
.container .projectcard2 .content h3{
    font-size: 1.8em;
    color: #ffffff;
    z-index: 1;
}
.container .projectcard2 .content p{
    font-size: 1em;
    color: #ffffff;
    font-weight: 300;
}
.container .projectcard2 .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #f44336;
    color: #ffffff;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/*----- projectcard 3 -----*/


.container .projectcard3{
    position: relative;
    width:  280px;
    height: 400px;
    margin: 50px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background-image: url("img/ph.png");
    background-size: 100% 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px) ;
}
.container .projectcard3 .content{
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}
.container .projectcard3:hover .content{
    transform: translateY(0px);
    opacity: 1;
    background-color: #24262b;
}
.container .projectcard3 .content h2{
    position: absolute;
    top: -60px;
    right: 30px;
    font-size: 8em;
    color: rgba(255, 1, 1, 0.116);
    pointer-events: none;
}
.container .projectcard3 .content h3{
    font-size: 1.8em;
    color: #ffffff;
    z-index: 1;
}
.container .projectcard3 .content p{
    font-size: 1em;
    color: #ffffff;
    font-weight: 300;
}
.container .projectcard3 .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #f44336;
    color: #ffffff;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}


/*----- cv -----*/

.cv{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
    
}

/*----- Footer -----*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container2{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
   
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #f44336;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5 ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}

      

